/* regole generali */

.white{
    color: white;
}

.main_color{
    color: rgba(44,62,80,255);
}




/* HEADER */

/* navigator */

#nav{
    background-color: rgba(44,62,80,255);
    padding: 10px 13%;
}


/* jumbotron */

#jumbotron{
    background-color: rgba(26,188,156,255);
    padding: 20px 13%;
}







/* MAIN */

/* portfolio */

#portfolio{
    padding: 30px 13%;
}





/* about */

#about{
    background-color: rgba(26,188,156,255);
    padding: 20px 13%;
}





/* contact me */

#contact_me{
    padding: 30px 13% 20px;
}
















/* REGOLE DEBUG */

[class*="col"]{
    background-color: blueviolet;
    border: 3px solid black;
    height: 50px;
}

.square_debug{
    background-color: blueviolet;
    border: 3px solid black;
    height: 400px;
    width: 400px;
}










