/* regole generali */

.white{
    color: white;
}

.main_color{
    color: rgba(44,62,80,255);
}

.main_color_black{
    color: rgba(51,51,51,255);
}


/* HEADER */

/* navigator */

#nav{
    background-color: rgba(44,62,80,255);
    padding: 20px 13%;
}

#nav_list{
    list-style: none;
    gap: 20px;
    font-weight: 600;
    font-size: 18px;
}

#start_bootstrap{
    font-size: 25px;
    font-weight: 700;
}










/* jumbotron */

#jumbotron{
    background-color: rgba(26,188,156,255);
    padding: 20px 30%;
    min-height: 400px;
}

#avatar{
    height: 200px;
}

h1{
    font-size: 60px;
}

#splitter{
    gap: 15px;
}

.splitter_row_white{
    border: 2px solid white;
    width: 200px;
    height: 0;
}

#star{
    font-size: 30px;
}

#skills{
    font-size: 27px;
}







/* MAIN */

/* portfolio */

#portfolio{
    padding: 30px 13%;
}

h2{
    font-size: 50px;
}

.splitter_row_main_color{
    border: 2px solid rgba(44,62,80,255);
    width: 200px;
    height: 0;
}

.six_images{
    padding: 12px 0;
    border-radius: 30px;
    width: 100%;
}

















/* about */

#about{
    background-color: rgba(26,188,156,255);
    padding: 20px 20%;
}


.about_text{
    font-size: 20px;
}

#download_button{
    border-radius: 15px;
    border: 1px solid white;
    padding: 5px;
    margin: auto;
}












/* contact me */

#contact_me{
    padding: 30px 13% 20px;
}

#bottom_hr{
    margin-top: 120px;
}

#send{
    background-color: rgba(26,188,156,255);
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 20px;
}







/* FOOTER */

/* infos */

#infos{
    background-color: rgba(58,84,109,255);
    padding: 20px 13%;
}


/* copyright */

#copyright{
    background-color: rgba(44,62,80,255);
    padding: 20px 13%;
}

















/* REGOLE DEBUG */

/* [class*="col"]{
    background-color: blueviolet;
    border: 3px solid black;
    height: 50px;
} */











